# =========================
# Dependencies
# =========================

node_modules/
**/node_modules/

# =========================
# Build
# =========================

dist/
build/
coverage/

# =========================
# Environment variables
# =========================

.env
.env.*
!.env.example

# =========================
# Logs
# =========================

*.log
logs/

# =========================
# OS / Editor
# =========================

.vscode/
.idea/
.DS_Store
Thumbs.db